.rwd-table {
    width: 100%;
    display: table;
}

.rwd-table th, td {
    padding: 7px;             
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td {
    border: none;
}

thead {
    border-bottom: 1px solid #d0d0d0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
table, th, td {
    border: none;
}

.rwd-table tr:hover td {
    background-color: #DFEBF1;
}
   
@media screen and (max-width: 451px) {
   
    .rwd-table tr {
        border: 1px solid #DDDDDD;
    }
       
    .rwd-table th {
        display: none;
    }
       
    .rwd-table td {
        display: block;
        border: none;
        text-indent: 10px;
    }
       
    .rwd-table td:before {
        content: attr(data-th) " ";
        float: left;
        font-weight: bold;
        color: #2196F3;
    }

}